@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	background: repeating-linear-gradient(45deg, rgb(27, 27, 27) 0px, rgb(27, 27, 27) 97px,rgb(24, 24, 24) 97px, rgb(24, 24, 24) 194px,rgb(20, 20, 20) 194px, rgb(20, 20, 20) 291px);
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hide {
	display: none !important;
}

/* Start section */
#start,
#message {
	height: 100%;
	margin-bottom: 15vh;
}

#start h1 {
	font-family: 'Bungee', cursive;
	font-size: 3rem;
}

.field.is-grouped {
	display: block;
}
.field.is-grouped>.control:not(:last-child) {
	margin-right: 0;
	margin-bottom: 0.75rem;
}

.card,
.card-header {
	box-shadow: none;
	text-align: center;
}

.card-header {
	border-bottom: 1px solid #ededed;
}

.card-header-title {
	justify-content: center;
}

/* Modal box */
.modal-card-foot {
	justify-content: center;
}

.modal-card-head,
.modal-card-foot {
	border: none;
}

@media screen and (max-width: 768px) {
	/* Game section */
	#game {
		flex-grow: 1;
		display: flex;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	#game .container {
		min-height: 100%;
	}

	#game .columns {
		display: flex;
		height: 100%;
		flex-direction: column;
		align-content: space-between;
	}

	#game-area {
		flex-grow: 1;
		margin: 0.75rem;
		margin-bottom: 0;
		display: grid;
		grid-template-columns: repeat(20, auto);
		grid-template-rows: repeat(20, auto);
	}

	#virus {
		min-width: 30px;
		max-width: 50px;
		max-height: 50px;
	}

	/* Scoreboard section */
	#scoreboard {
		flex-grow: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
}

@media screen and (min-width: 769px) {
	/* Start section */
	#start .container {
		padding: 2rem;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	#start h1 {
		font-size: 5rem;
	}

	.field.is-grouped {
		display: flex;
	}
	.field.is-grouped>.control:not(:last-child) {
		margin-right: 0.75rem;
		margin-bottom: 0;
	}

	/* Game section */
	#game {
		flex-grow: 1;
		display: flex;
	}

	#game .container {
		padding: 2rem;
		display: flex;
		flex-direction: column;
	}

	#game .columns {
		flex-grow: 1;
	}

	#game-area {
		display: grid;
		grid-template-columns: repeat(20, auto);
		grid-template-rows: repeat(20, auto);
	}

	#virus {
		min-width: 50px;
		max-width: 75px;
		max-height: 75px;
	}

	#scoreboard {
		padding-top: 0;
	}

	.card {
		border: 1px solid #ededed;
		margin-bottom: 2rem;
	}
}

