@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif;
	background: repeating-linear-gradient(45deg, rgb(27, 27, 27) 0px, rgb(27, 27, 27) 97px,rgb(24, 24, 24) 97px, rgb(24, 24, 24) 194px,rgb(20, 20, 20) 194px, rgb(20, 20, 20) 291px);
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#start {
	height: 100%;
}

#start .container {
	padding: 2rem;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#start h1 {
	font-family: 'Press Start 2P', cursive;
}

.hide {
	display: none;
}

#game {
	height: 100%;
}

#game .container {
	padding: 2rem;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#game .columns {
	flex-grow: 1;
}

#game-area {
	display: grid;
	grid-template-columns: repeat(20, auto);
	grid-template-rows: repeat(20, auto);
}

#virus {
	max-width: 50px;
    max-height: 50px;
	justify-self: center;
	align-self: center;
}

#virus img {
	height: 100%;
	width: 100%;
    display: block;
    object-fit: cover;
}

.card {
	border: 1px solid #ededed;
	margin-bottom: 2rem;
}

.card,
.card-header {
	box-shadow: none;
	text-align: center;
}

.card-header {
	border-bottom: 1px solid #ededed;
}

.card-header-title {
	justify-content: center;
}

#start-form .control:first-of-type{
	flex-grow: 1;
}
